<ion-view class="green-page" view-title="Цвет авто">
	<ion-content>
		<div class="row">
			<div class="col profile-color">
				<div class="color-selected">
				</div>
				<p>Выбранный цвет машины</p>
				<p class="car-color-name">Белый</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="profile-line"></div>
			</div>
		</div>
		<div class="row padding select-color-row">
			<div class="col">
				<a href="#" class="select-color white-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color black-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color red-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color orange-car button"></a>
			</div>
		</div>
		<div class="row padding select-color-row">
			<div class="col">
				<a href="#" class="select-color yellow-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color green-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color sea-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color lblue-car button"></a>
			</div>
		</div>
		<div class="row padding select-color-row">
			<div class="col">
				<a href="#" class="select-color blue-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color purpure-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color pink-car button"></a>
			</div>
			<div class="col">
				<a href="#" class="select-color grey-car button"></a>
			</div>
		</div>
	</ion-content>
	<div class="color-set-button row">
		<div class="col">
			<button class="button button-clear button-full button-green">СОХРАНИТЬ</button>
		</div>
		<div class="col">
			<button class="button button-clear button-full button-grey-cancel">ОТМЕНА</button>
		</div>
	</div>
</ion-view>