<ion-view view-title="">
	<ion-nav-bar class="bar-stable menu-top-bar white-menu profile-bar">
		<ion-nav-buttons side="left">
			<a class="button button-icon button-menu" menu-toggle="left">
				<img src="img/map-menu.png">
			</a>
			<div class="title title-center header-item">
				<h1>О проекте</h1>
			</div>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="about-text">
					<p>ЕдЕм-ЕдИм – это сервис, позволяющий водителям сделать удаленно заказ в ресторане и получить его в окно своего автомобиля. Для ресторанов – это возможность обслуживать до 20% дополнительных гостей без дополнительных затрах. </p>
					<p>
						Устанавливая приложение ЕдЕм-ЕдИм, вы соглашаетесь с Офертой. Ознокомится с актуальной офертой вы всегда можете на нашем сайте edem-edim.ru. 
					</p>
					<p>
						Если Вы ресторан и желаете подключится к системе, пожалуйста ознакомьтесь с договором сотрудничества, размещенному на сайте edem-edim.ru и оставьте заявку на подключение на сайте.
					</p> 
				</div>
			</div>
		</div>
		<div class="row no-padding">
			<div class="col no-padding">
				<div class="list">
					<a class="item item-thumbnail-left item-about" href="#/app/faq">
						<img src="img/about-faq.png">
						<div>
							<h2>FAQ</h2>
							<p>Вопросы и ответы</p>
						</div>
					</a>
					<a class="item item-thumbnail-left item-about" href="#/app/back">
						<img src="img/about-back.png">
						<div>
							<h2>Обратная связь</h2>
							<p>Поделитесь мнением</p>
						</div>
					</a>
					<a class="item item-thumbnail-left item-about" ng-click="openBrowser('http://edem-edim.ru/')">
						<img src="img/about-agree.png">
						<div>
							<h2>Пользовательское<br>соглашение</h2>
						</div>
					</a>
				</div>
				<div class="about-app">
					<p class="app-version">Версия 1.0.123</p>
					<p>ООО "Едем-едим"<br>Все права защищены</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>