<ion-view view-title="">
	<ion-nav-bar class="bar-stable menu-top-bar white-menu">
		<ion-nav-buttons side="left">
			<a class="button button-icon button-clear button-back-arrow" href="#/app/about">
				<img src="img/back-arrow.png">
			</a>
			<div class="title title-center header-item">
				<h1>Обратная связь</h1>
			</div>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="about-text">
					<p>Будем рады ответить на ваши вопросы и предложения по телефону или WhatsApp +79629543260 или электронной почте ag@edem-edim.ru</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>