<ion-view view-title="">
	<ion-nav-bar class="bar-stable menu-top-bar white-menu">
		<ion-nav-buttons side="left">
			<a class="button button-icon button-clear button-back-arrow" href="#/app/about">
				<img src="img/back-arrow.png">
			</a>
			<div class="title title-center header-item">
				<h1>FAQ</h1>
			</div>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="about-text">
					<p><b>Что делать если официанта нет на месте?</b></p>
					<p>Если вы приехали а официанта еще нет с вашим заказом, пожалуйста не волнуйтесь. Для начала нажмите конпку «прибыл на место» и официант получит уведомление о вашем прибытии. Вы также можете позвонить ему (конпка ниже). Если это не помогло – попробуйте просигналить в клаксон у дверей ресторна. Надеемся таких ситуаций не будет! Мы постоянно работаем над улучшением работы системы.</p>
					<p><b>Это бесплатно?</b></p>
					<p>Сервис Едем-Едим - это информационная площадка. Мы не взымаем деньги с водителей за пользованием сервисом. Цены на питание устанавливают сами рестораны, регулируя их исходя из своей ценовой политики.</p>
					<p><b>Как сделать заказ?</b></p>
					<p>Чтобы сделать заказ прежде всего введите свои контактные данные , указав номерные знаки автомобиля. Это очень важно. Вы ведь не хотите, чтобы Ваш заказ забрал кто-то другой? После регистрации откройте карту и выберите удобную точку. Щелкните на зеленую стрелочку в расширенной информации о выбранной точке и вы увидите меню. Выберите самые вкусные позиции. Нажмите кнопку оплатить. Введите данные своей карты и подтвердите платеж. Вы также можете запомнить данные своей карты , чтобы упростить процесс заказа в будущем. Получите подтверждение оплаты заказа. Статус заказа вы можете видеть в разделе заказы. Остановитесь в указанной точке и заберите заказ. Приятного аппетита!</p>
					<p><b>Я в ЯРОСТИ!</b></p>
					<p>Если вы недовольны работой сервиса, пожалуйста, сообщите нам в разделе отзывы на сайте edem-edim.ru Мы постараемся загладить нашу вину и исправить ошибки! Надеемся на ваше понимание и терпение!</p>
					<p><b>Отменить заказ</b></p>
					<p>Если по каким-то причинам вы решили отменить заказ, пожалуйста, зайдите в раздел приложения «мои заказы», выберите заказ и нажмите «отменить». Ваши денежные средства вернуться на карту в течение 2-х недель. Спасибо за понимание!</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>