<ion-view view-title="">
	<ion-nav-bar class="bar-stable menu-top-bar white-menu">
		<ion-nav-buttons side="left">
			<a class="button button-icon button-clear button-back-arrow" ng-click="closeRoute()">
				<img src="img/back-arrow.png">
			</a>
			<div class="title title-center header-item">
				<h1></h1>
			</div>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="about-text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar quam quis faucibus pharetra. Nam feugiat ipsum placerat tortor finibus porttitor. Ut non gravida neque. Nunc scelerisque, nisi non semper efficitur, ligula felis tempus nunc, vel ornare urna sem non mauris. Nam </p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>