<ion-view view-title="Helper">
 
	
	<ion-content scroll="false">

	  <ion-slides  options="options" slider="data.slider">

	    <ion-slide-page>
	      	<div  class="row helper helper-slide1" >
				<div class="col">
					<h2>ДОБРО ПОЖАЛОВАТЬ<br>В ЕДЕМ-ЕДИМ!</h2>
					<p>- 1 -<br>Зарегистрируйтесь в системе "ЕдЕм-ЕдИм"</p>
					<div class="helper-buttons">
					 
					</div>
				</div>
			</div>
	    </ion-slide-page>

	    <ion-slide-page>
	      	<div class="row helper helper-slide2" >
				<div class="col">
					<h2>ДОБРО ПОЖАЛОВАТЬ<br>В ЕДЕМ-ЕДИМ!</h2>
					<p>- 2 -<br>Выберите ресторан на своем маршруте, сформируйте и оплатите заказ</p>
					<div class="helper-buttons">
						 
					</div>
				</div>
			</div>
	    </ion-slide-page>

	    <ion-slide-page>
	      	<div class="row helper helper-slide3" >
				<div class="col">
					<h2>ДОБРО ПОЖАЛОВАТЬ<br>В ЕДЕМ-ЕДИМ!</h2>
					<p>- 3 -<br>Притормозите в указанном месте и получите свой заказ в окно автомобиля</p>
					<div class="helper-buttons">
						<a class="button button-clear button-full button-green" href="#/login">НАЧАТЬ ПОЛЬЗОВАТЬСЯ</a>
					</div>
				</div>
			</div>
	    </ion-slide-page>

	  </ion-slides>

	</ion-content>


</ion-view>