<div class="container-fluid">
    <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                СЕТИ
                                <small>Список добавленных сетей</small>
                            </h2>
                            <ul class="header-dropdown">
                                <li class="dropdown">
                                    <button type="button" class="btn bg-green btn-block btn-lg waves-effect">
                                        <i class="material-icons">add</i>
                                        <span>ДОБАВИТЬ СЕТЬ</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover table-networks">
                                <thead>
                                    <tr>
                                        <th>Логотип</th>
                                        <th>Название</th>
                                        <th>Кол-во ресторанов</th>
                                        <th>Контакты</th>
                                        <th class="align-center">Просмотреть</th>
                                        <th class="align-center">Блокировать</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="images/logo-rest.png"></th>
                                        <td>Две палочки</td>
                                        <td>210</td>
                                        <td>+7 495 123456<br>ag@edem-edim.ru</td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-amber btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">mode_edit</i>
                                            </button>
                                        </td>
                                        <td class="align-center">
                                            <button type="button" class="btn bg-deep-orange btn-circle-lg waves-effect waves-circle waves-float">
                                                <i class="material-icons">lock</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <nav>
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="javascript:void(0);" class="waves-effect">
                                            <i class="material-icons">chevron_left</i>
                                        </a>
                                    </li>
                                    <li class="active"><a href="javascript:void(0);" class="waves-effect">1</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                    <li>
                                        <a href="javascript:void(0);" class="waves-effect">
                                            <i class="material-icons">chevron_right</i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
</div>