<div class="container-fluid">
    <div class="center-login-block reg-block">
		<img src="images/logo.png">
		<h2>Регистрация пользователя</h2>
		<form>
		    <input type="hidden" name="auth" value="y">
		    <input placeholder="Логин" name="login" type="login" class="form-control">
		    <input placeholder="Пароль" name="password" type="password" class="form-control">
		    <input placeholder="Подтвердите ваш пароль" name="passConfirm" type="password" class="form-control">
		    <h4>Основная информация</h4>
		    <input placeholder="ФИО" name="fio" type="text" class="form-control">
		    <input placeholder="Паспортные данные" name="passport" type="number" class="form-control">
		    <h4>Контактная информация</h4>
		    <input placeholder="Телефон" name="phone" type="tel" class="form-control">
		    <input placeholder="E-mail" name="email" type="email" class="form-control">
		    <input type="submit" value="Зарегистрироваться" class="btn btn-lg btn-block bg-green waves-effect">
		</form>    
	</div>
</div>