<div class="container-fluid">
    <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-green">
                            <h2>
                                СТАТИСТИКА
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <h5>Показать данные за<br><small>период</small></h5>
                                    <table class="cal">
                                      <caption>
                                        <span class="prev"><a href="#">←</a></span>
                                        <span class="next"><a href="#">→</a></span>
                                        January 2018
                                      </caption>
                                      <thead>
                                        <tr>
                                          <th>S</th>
                                          <th>M</th>
                                          <th>T</th>
                                          <th>W</th>
                                          <th>T</th>
                                          <th>F</th>
                                          <th>S</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td class="off"><a href="#">26</a></td>
                                          <td class="off"><a href="#">27</a></td>
                                          <td class="off"><a href="#">28</a></td>
                                          <td class="off"><a href="#">29</a></td>
                                          <td class="off"><a href="#">30</a></td>
                                          <td class="off"><a href="#">31</a></td>
                                          <td><a href="#">1</a></td>
                                        </tr>
                                        <tr>
                                          <td><a href="#">2</a></td>
                                          <td><a href="#">3</a></td>
                                          <td><a href="#">4</a></td>
                                          <td><a href="#">5</a></td>
                                          <td><a href="#">6</a></td>
                                          <td><a href="#">7</a></td>
                                          <td><a href="#">8</a></td>
                                        </tr>
                                        <tr>
                                          <td><a href="#">9</a></td>
                                          <td><a href="#">10</a></td>
                                          <td><a href="#">11</a></td>
                                          <td><a href="#">12</a></td>
                                          <td><a href="#">13</a></td>
                                          <td><a href="#">14</a></td>
                                          <td><a href="#">15</a></td>
                                        </tr>
                                        <tr>
                                          <td><a href="#">16</a></td>
                                          <td><a href="#">17</a></td>
                                          <td><a href="#">18</a></td>
                                          <td><a href="#">19</a></td>
                                          <td><a href="#">20</a></td>
                                          <td><a href="#">21</a></td>
                                          <td><a href="#">22</a></td>
                                        </tr>
                                        <tr>
                                          <td><a href="#">23</a></td>
                                          <td><a href="#">24</a></td>
                                          <td><a href="#">25</a></td>
                                          <td><a href="#">26</a></td>
                                          <td><a href="#">27</a></td>
                                          <td class="active"><a href="#">28</a></td>
                                          <td><a href="#">29</a></td>
                                        </tr>
                                        <tr>
                                          <td><a href="#">30</a></td>
                                          <td><a href="#">31</a></td>
                                          <td class="off"><a href="#">1</a></td>
                                          <td class="off"><a href="#">2</a></td>
                                          <td class="off"><a href="#">3</a></td>
                                          <td class="off"><a href="#">4</a></td>
                                          <td class="off"><a href="#">5</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <h5><br>Сети</h5>
                                  <select class="form-control show-tick m-b-10">
                                    <option value="">-- Please select --</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                  </select>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_1" class="chk-col-green" checked />
                                    <label for="set_checkbox_1">RED</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_2" class="chk-col-green" checked />
                                    <label for="set_checkbox_2">PINK</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_3" class="chk-col-green" checked />
                                    <label for="set_checkbox_3">PURPLE</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_4" class="chk-col-green" checked />
                                    <label for="set_checkbox_4">DEEP PURPLE</label>
                                  </div>
                                  <div class="demo-checkbox">
                                    <input type="checkbox" id="set_checkbox_5" class="chk-col-green" checked />
                                    <label for="set_checkbox_5">INDIGO</label>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <h5><br>Рестораны</h5>
                                  <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                  </select>
                                </div>
                                <div>
                                    <input type="checkbox" id="set_checkbox_6" class="chk-col-green" checked />
                                    <label for="set_checkbox_6">RED</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_7" class="chk-col-green" checked />
                                    <label for="set_checkbox_7">PINK</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_8" class="chk-col-green" checked />
                                    <label for="set_checkbox_8">PURPLE</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_9" class="chk-col-green" checked />
                                    <label for="set_checkbox_9">DEEP PURPLE</label>
                                  </div>
                                  <div class="demo-checkbox">
                                    <input type="checkbox" id="set_checkbox_10" class="chk-col-green" checked />
                                    <label for="set_checkbox_10">INDIGO</label>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <h5><br>Город</h5>
                                  <select class="form-control show-tick">
                                    <option value="">-- Please select --</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                  </select>
                                </div>
                                <div>
                                    <input type="checkbox" id="set_checkbox_11" class="chk-col-green" checked />
                                    <label for="set_checkbox_11">RED</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_12" class="chk-col-green" checked />
                                    <label for="set_checkbox_12">PINK</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_13" class="chk-col-green" checked />
                                    <label for="set_checkbox_13">PURPLE</label>
                                  </div>
                                  <div>
                                    <input type="checkbox" id="set_checkbox_14" class="chk-col-green" checked />
                                    <label for="set_checkbox_14">DEEP PURPLE</label>
                                  </div>
                                  <div class="demo-checkbox">
                                    <input type="checkbox" id="set_checkbox_15" class="chk-col-green" checked />
                                    <label for="set_checkbox_15">INDIGO</label>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header bg-green">
                            <h2>
                                КАРТА
                            </h2>

                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="images/orig.png">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                КОЛИЧЕСТВО ЗАКАЗОВ
                            </h2>
                        </div>
                        <div class="body">
                        	<div class="btn-group date-btn m-b-10">
                        		<button type="button" class="btn btn-trans waves-effect">День</button>
                        		<button type="button" class="btn btn-trans waves-effect active">Месяц</button>
                        		<button type="button" class="btn btn-trans waves-effect">Квартал</button>
                        		<button type="button" class="btn btn-trans waves-effect">Год</button>
                        	</div>
                          <img src="images/graf.png">
                          <table class="table table-hover table-networks td-20 m-b-0">
                            <thead>
                              <tr>
                                <th>Месяц</th>
                                <th>Выдано</th>
                                <th>Заказано</th>
                                <th>Оплачено</th>
                                <th>Отмена заказа</th>
                              </tr>
                            </thead>
                          </table>
                          <div class="table-scroll m-b-20">
                            <table class="table table-hover table-networks td-20">
                              <tbody>
                                <tr>
                                  <td>Январь</td>
                                  <td>200</td>
                                  <td>260</td>
                                  <td>230</td>
                                  <td>30</td>
                                </tr>
                                <tr>
                                  <td>Февраль</td>
                                  <td>200</td>
                                  <td>260</td>
                                  <td>230</td>
                                  <td>30</td>
                                </tr>
                                <tr>
                                  <td>Март</td>
                                  <td>200</td>
                                  <td>260</td>
                                  <td>230</td>
                                  <td>30</td>
                                </tr>
                                <tr>
                                  <td>Апрель</td>
                                  <td>200</td>
                                  <td>260</td>
                                  <td>230</td>
                                  <td>30</td>
                                </tr>
                                <tr>
                                  <td>Май</td>
                                  <td>200</td>
                                  <td>260</td>
                                  <td>230</td>
                                  <td>30</td>
                                </tr>
                                <tr>
                                  <td>Июнь</td>
                                  <td>200</td>
                                  <td>260</td>
                                  <td>230</td>
                                  <td>30</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                БЛЮДА ЛИДЕРЫ ПРОДАЖ
                            </h2>
                        </div>
                        <div class="body">
                          <div class="btn-group date-btn m-b-10">
                            <button type="button" class="btn btn-trans waves-effect">День</button>
                            <button type="button" class="btn btn-trans waves-effect active">Месяц</button>
                            <button type="button" class="btn btn-trans waves-effect">Квартал</button>
                            <button type="button" class="btn btn-trans waves-effect">Год</button>
                          </div>
                          <table class="table table-hover table-networks td-50 m-b-0">
                            <thead>
                              <tr>
                                <th>Название</th>
                                <th>Выдано раз</th>
                              </tr>
                            </thead>
                          </table>
                          <div class="table-scroll m-b-20">
                            <table class="table table-hover table-networks td-50">
                              <tbody>
                                <tr>
                                  <td>Кофе с молоком</td>
                                  <td>200</td>
                                </tr>
                                <tr>
                                  <td>Кофе с молоком</td>
                                  <td>200</td>
                                </tr>
                                <tr>
                                  <td>Кофе с молоком</td>
                                  <td>200</td>
                                </tr>
                                <tr>
                                  <td>Кофе с молоком</td>
                                  <td>200</td>
                                </tr>
                                <tr>
                                  <td>Кофе с молоком</td>
                                  <td>200</td>
                                </tr>
                                <tr>
                                  <td>Кофе с молоком</td>
                                  <td>200</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div>
                            <h4>Поиск блюда:</h4>
                            <div class="row clearfix search-table">
                                <div class="col-md-10">
                                    <input type="search" name="" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Поиск блюда..">
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-block bg-green waves-effect">
                                        <i class="material-icons">search</i>
                                        <span>НАЙТИ</span>
                                    </button>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                ЧЕК
                            </h2>
                        </div>
                        <div class="body">
                          <div class="btn-group date-btn m-b-10">
                            <button type="button" class="btn btn-trans waves-effect">День</button>
                            <button type="button" class="btn btn-trans waves-effect active">Месяц</button>
                            <button type="button" class="btn btn-trans waves-effect">Квартал</button>
                            <button type="button" class="btn btn-trans waves-effect">Год</button>
                          </div>
                          <table class="table table-hover table-networks td-50">
                            <thead>
                              <tr>
                                <th>Данные</th>
                                <th>РУБ.</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Средний чек</td>
                                <td>200</td>
                              </tr>
                              <tr>
                                <td>Максимальный чек</td>
                                <td>200</td>
                              </tr>
                              <tr>
                                <td>Минимальный чек</td>
                                <td>200</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                ГОСТИ
                            </h2>
                        </div>
                        <div class="body">
                          <div class="row clearfix search-table">
                                <div class="col-md-10">
                                    <input type="search" name="" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Поиск блюда..">
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-block bg-green waves-effect">
                                        <i class="material-icons">search</i>
                                        <span>НАЙТИ</span>
                                    </button>
                                </div>
                          </div>
                          <table class="table table-hover table-networks">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Заказчик</th>
                                <th>Телефон заказчика</th>
                                <th>Сумма</th>
                                <th>Сеть</th>
                                <th>Статус</th>
                                <th>Дата</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>460</td>
                                <td>Иванов</td>
                                <td>9671190870</td>
                                <td>70 р.</td>
                                <td>Ем-Поем, Москва, Дубининская 70</td>
                                <td>выполнен</td>
                                <td>2018-04-27 10:27:05</td>
                              </tr>
                              <tr>
                                <td>460</td>
                                <td>Иванов</td>
                                <td>9671190870</td>
                                <td>70 р.</td>
                                <td>Ем-Поем, Москва, Дубининская 70</td>
                                <td>выполнен</td>
                                <td>2018-04-27 10:27:05</td>
                              </tr>
                              <tr>
                                <td>460</td>
                                <td>Иванов</td>
                                <td>9671190870</td>
                                <td>70 р.</td>
                                <td>Ем-Поем, Москва, Дубининская 70</td>
                                <td>выполнен</td>
                                <td>2018-04-27 10:27:05</td>
                              </tr>
                            </tbody>
                          </table>
                          <nav>
                            <ul class="pagination">
                              <li class="waves-effect">
                                <a href="">
                                  <i class="material-icons">chevron_left</i>
                                </a>
                              </li>
                              <li class="waves-effect active"><a href="" >1</a></li>
                              <li ng-class="{'disabled':currentPage+1 > numberOfPages() -1  }" ng-click="setNexPage()" >
                                <a href="" class="waves-effect" class="waves-effect">
                                  <i class="material-icons">chevron_right</i>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                ОБОРОТ
                            </h2>
                        </div>
                        <div class="body">
                          <div class="btn-group date-btn m-b-10">
                            <button type="button" class="btn btn-trans waves-effect">День</button>
                            <button type="button" class="btn btn-trans waves-effect active">Месяц</button>
                            <button type="button" class="btn btn-trans waves-effect">Квартал</button>
                            <button type="button" class="btn btn-trans waves-effect">Год</button>
                          </div><br>
                          <div class="btn-group choose-group">
                            <button type="button" class="btn bg-green waves-effect">
                              Сети
                            </button>
                            <button type="button" class="btn bg-grey waves-effect">
                              Рестораны
                            </button>
                            <button type="button" class="btn bg-grey waves-effect">
                              Точки выдачи
                            </button>
                          </div>
                          <table class="table table-hover table-networks">
                            <thead>
                              <tr>
                                <th>Сети</th>
                                <th>Январь</th>
                                <th>Февраль</th>
                                <th>Март</th>
                                <th>Апрель</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                              </tr>
                              <tr>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                              </tr>
                              <tr>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                                <td>460</td>
                              </tr>
                            </tbody>
                          </table>
                          <img src="images/graf.png">
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                ВРЕМЯ ЗАКАЗОВ
                            </h2>
                        </div>
                        <div class="body">
                          <table class="table table-hover table-networks">
                            <thead>
                              <tr>
                                <th>Утро 06:00-12:00</th>
                                <th>День 12:00-18:00</th>
                                <th>Вечер 18:00-00:00</th>
                                <th>Ночь 00:00-06:00</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>50%</td>
                                <td>30%</td>
                                <td>20%</td>
                                <td>0%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="card p-b-10">
                        <div class="header bg-green">
                            <h2>
                                ДЛИТЕЛЬНОСТЬ ЗАКАЗОВ
                            </h2>
                        </div>
                        <div class="body">
                          <table class="table table-hover table-networks">
                            <thead>
                              <tr>
                                <th>До 15 мин</th>
                                <th>15-30 мин</th>
                                <th>30-60 мин</th>
                                <th>более 60 мин</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>50%</td>
                                <td>30%</td>
                                <td>20%</td>
                                <td>0%</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
</div>